<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="mt-6 bg-gray-200 rounded p-3">
                <h1 class="font-semibold">Sorry</h1>
                <p>There's nothing at this address.</p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
